/* ============================== Hero Section ============================== */

.introduction-container{
    align-items: center;
}

.introduction-title{
    font-size: var(--fz-largest);
    font-weight: var(--fw-medium);
}

.introduction-description{
    color: var(--clr-neutral-500);
}

.introduction-btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.btn{
    font-weight: var(--fw-medium);
    padding: .75em 1.5em;
    border-radius: .3em;
}

.introduction-chrome-btn{
    background-color: var(--clr-primary-blue);
    color: #FFFFFF;
}

.introduction-chrome-btn:hover{
    background-color: transparent;
    outline: 1px solid var(--clr-primary-blue);
    color: var(--clr-primary-blue);
}

.introduction-firefox-btn{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: var(--clr-neutral-900);
}

.introduction-firefox-btn:hover{
    color: var(--clr-primary-red);
    outline: 1px solid var(--clr-primary-red);
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    
    .introduction{
        padding-top: var(--pe-small);
        text-align: center;
    }
    
    .introduction-btn-container{
        justify-content: center;
    }

}

/* ============================== Features Section ============================== */

.features-header{
    margin-bottom: var(--pe-normal);
}

.features-title{
    font-size: var(--fz-larger);
    margin-bottom: var(--pe-smaller);
}

.features-triggers-container{
    display: flex;
    justify-content: center;
}

.features-triggers-container > *{
    cursor: pointer;
    padding-inline: 4em;
    padding-bottom: 2em;
    border-bottom: 2px solid var(--clr-neutral-500);
}

.features-triggers-container > *:hover{
    color: var(--clr-primary-red);
    border-bottom: 2px solid var(--clr-primary-red);
}

.features-carousel{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.features-carousel > * {
    min-width: 100%;
    scroll-snap-align: start;
}

.features-item-container.split{
    margin-top: 4em;
    align-items: center;
}

.features-btn{
    background-color: var(--clr-primary-blue);
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {

    .features-triggers-container{
        gap: 2em;
        flex-direction: column;
    }

}

/* ============================== Card Section ============================== */

.extension-header{
    margin-bottom: var(--pe-large);
}

.extension-item-container{
    width: 95%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-block: var(--pe-normal);
}

@media screen and (max-width: 768px) {

    .extension-item-container{
        flex-direction: column;
    }

}