.footer{
    background-color: var(--clr-neutral-900);
}

.footer-container{
    min-height: var(--pe-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    z-index: 0;
    filter: invert(100%) sepia(0%) saturate(3619%) hue-rotate(167deg) brightness(101%) contrast(103%);
}

.footer-menu{
    margin-left: 0;
}

.footer-link{
    color: var(--clr-neutral-500);
}

.social-container{
    display: flex;
    gap: 4em;
}

.social-icon{
    cursor: pointer;
}

.social-icon:hover{
    filter: invert(73%) sepia(88%) saturate(5545%) hue-rotate(329deg) brightness(104%) contrast(96%)
}

.footer-link:hover{
    color: var(--clr-primary-red);
}

@media screen and (max-width: 768px){

    .footer-container{
        padding-block: var(--pe-normal);
        flex-direction: column;
        text-align: center;
        gap: var(--pe-normal);
    }

    .footer-menu{
        flex-direction: column;
    }

    .footer-item:not(:first-of-type){
        margin-top: 2em;
    }
    
}

@media screen and (min-width: 768px) {
    
    .footer-item:not(:first-of-type){
        margin-left: 2em;
    }

}