/* ============================== Google Fonts ============================== */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* ============================== CSS Variables ============================== */

:root{

    /* Colors */
    --clr-primary-red: hsl(0, 94%, 66%);
    --clr-primary-blue: hsl(231, 69%, 60%);

    --clr-neutral-900: rgb(37, 43, 70);
    --clr-neutral-500: hsl(229, 8%, 60%);

    /* Typography */

    --fz-largest: 3.052rem;
    --fz-larger: 2.441rem;
    --fz-large: 1.563rem;
    --fz-normal: 1.125rem;

    --fw-medium: 500;
    --fw-normal: 400;

    --ff-body: 'Rubik', sans-serif;

    /* Padding */
    --pe-larger: 8em;
    --pe-large: 6em;
    --pe-normal: 4em;
    --pe-small: 2em;
    --pe-smaller: 1em;
    --pe-smallest: .5em;

    --pr-larger: 8rem;
    --pr-large: 6rem;
    --pr-normal: 4rem;
    --pr-small: 2rem;
    --pr-smaller: 1rem;
    --pr-smallest: .5rem;

}


/* ============================== HTML Formating ============================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    -webkit-tap-highlight-color: transparent;
}

body{
    line-height: 1.6;
    font-family: var(--ff-body);
    font-weight: var(--fz-normal);
}

section{
    padding-block: var(--pe-large);
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
    display: flex;
}

a{
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4{
    line-height: 1;
}

/* ============================== CSS Reusable Classes ============================== */

.container {
    width: min(80%, 70rem);
    margin-inline: auto;
}

.split {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.split > * {
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {

    .split{
        flex-direction: row;
    }

}